body {
    color: #fff;
    background-color: #000;
    font-family: Helvetica, Arial, sans-serif;
}

.instructions {
    border: 1px solid #555;
    float: right;
}
.footer {
    position: fixed;
    bottom: 0;
}
